.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 160px);

  .icon {
    font-size: 200px;
    margin-bottom: 30px;
  }

  .number {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .button {
    width: 100px;
    height: 40px;

    .icon-button {
      font-size: 32px;
      color: white;
    }
  }
}
