<section *ngIf="isPresent !== false && order !== {}">
  <span class="title">
    <h1>Finalize Order</h1>
  </span>
  <span class="subtitle">
    <h2>Products</h2>
  </span>
  <div class="finalize mat-elevation-z4">
    <table mat-table [dataSource]="order.products!">
      <!-- Image Column -->
      <ng-container class="content-image" matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let row">
          <img class="image" [src]="row.image" />
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>price</th>
        <td mat-cell *matCellDef="let row">
          {{ row.price | currency: "BRL" }}
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>description</th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>

      <!-- Qtd Column -->
      <ng-container matColumnDef="qtd">
        <th mat-header-cell *matHeaderCellDef>Qtd</th>
        <td mat-cell *matCellDef="let row">{{ row.qtd }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <article class="total">
    <h1>
      <strong>Total: {{ total | currency: "BRL" }}</strong>
    </h1>
    <div class="action">
      <button
        class="finish"
        mat-raised-button
        color="warn"
        (click)="finishOrder(order)"
      >
        Finish
      </button>
      <button mat-raised-button routerLink="/order/{{ order.id! }}">
        Cancel
      </button>
    </div>
  </article>
</section>
<app-page-not-found
  *ngIf="isPresent === false && order !== {}"
></app-page-not-found>
